include LICENSE
include COPYRIGHT
include README
include INSTALL
include TODO
include CHANGELOG
include setup.nsi
include Microsoft.VC90.CRT.manifest
include neso.desktop
include *.nsh
include share/pixmaps/neso/*.svg
include share/pixmaps/neso/*.ico
include share/pixmaps/neso/*.icns
