[Desktop Entry]
Version=1.0
Type=Application
Name=Neso
GenericName=Standalone Client/Server for the Tryton Application Platform
GenericName[ca_ES]=Client/Servidor autònom per l'aplicació Tryton
GenericName[de]=Autonomer Client/Server für die Tryton Applikationsplattform
GenericName[es_ES]=Cliente/Servidor autónomo para la aplicación Tryton
GenericName[sl]=Samostojni odjemalec/strežnik za aplikacijsko platformo Tryton
Comment=Run Tryton
Comment[ca_ES]=Inicia Tryton
Comment[de]=Tryton starten
Comment[es_ES]=Iniciar Tryton
Comment[sl]=Zaženi Tryton
Keywords=Business;Management;Enterprise;ERP;Framework;
Exec=neso
Icon=neso-icon
Terminal=false
Categories=Office;Finance;
